---
layout: default
---

<div class="home">
  
  
 <div class="col col-12" style="max-h">
      <div class="col col-3">
          <div class="block glass">
          <img src="/assets/logo.jpg" class="responsive-img" alt="Logo">      
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>Living Company</h2>
                <p class="grey-text">Somos una pequeña empresa ubicada en Nicaragua, comprometidos con brindar a la comunidad software
              de alta calidad accesible para todos</p>
            </div>
        </div>
      </div>  
  </div>
  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
        <div class="block" style="background-image:url(assets/{{port.img}});
                                  background-size:     cover;
                                  background-repeat:   no-repeat;
                                  background-position: center center;
        ">
            <div class="block-body height-{{port.height}}">              
                <h2 class="align-bottom-right">
                  {{ port.title }}
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  <div class="col col-9">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
        <div class="block" style="background-image:url(assets/{{post.img}});
                                  background-size:     cover;
                                  background-repeat:   no-repeat;
                                  background-position: center center;">
            <div class="block-body height-{{post.height}}">
                <span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">Especialidades</h3>                
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
